In [ ]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('text.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 416809 entries, 0 to 416808
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  416809 non-null  int64
 1   text        416809 non-null  object
 2   label       416809 non-null  int64
dtypes: int64(2), object(1)
memory usage: 9.5+ MB

In [4]:
df.head()

   Unnamed: 0                                               text  label
0           0      i just feel really helpless and heavy hearted      4
1           1  ive enjoyed being able to slouch about relax a...      0
2           2  i gave up my internship with the dmrg and am f...      4
3           3                         i dont know i feel so lost      0
4           4  i am a kindergarten teacher and i am thoroughl...      4

In [5]:
feature_df = df['text']
feature_df.head()

0        i just feel really helpless and heavy hearted
1    ive enjoyed being able to slouch about relax a...
2    i gave up my internship with the dmrg and am f...
3                           i dont know i feel so lost
4    i am a kindergarten teacher and i am thoroughl...
Name: text, dtype: object

In [6]:
label_df = df['label']
label_df.head()

0    4
1    0
2    4
3    0
4    4
Name: label, dtype: int64

In [7]:
# Vectorizing using TF-IDF
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer()
feature_df_vectorized = vectorizer.fit_transform(feature_df)

In [8]:
# Split data
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(feature_df_vectorized, label_df, test_size=0.3)

In [10]:
# Linear SVC
from sklearn.svm import LinearSVC

svc = LinearSVC(class_weight='balanced')
svc.fit(X_train, y_train)

y_pred = svc.predict(X_test)

In [11]:
from sklearn.metrics import classification_report

print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.96      0.92      0.94     36623
           1       0.95      0.89      0.92     42083
           2       0.73      0.86      0.79     10391
           3       0.88      0.92      0.90     17089
           4       0.84      0.84      0.84     14361
           5       0.67      0.82      0.73      4496

    accuracy                           0.89    125043
   macro avg       0.84      0.87      0.85    125043
weighted avg       0.90      0.89      0.90    125043

In [12]:
# NaiveBayes
from sklearn.naive_bayes import MultinomialNB

nb = MultinomialNB()

nb.fit(X_train, y_train)
y_pred = nb.predict(X_test)

print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.73      0.94      0.82     36623
           1       0.67      0.98      0.79     42083
           2       0.97      0.13      0.23     10391
           3       0.93      0.51      0.66     17089
           4       0.92      0.36      0.51     14361
           5       0.96      0.03      0.07      4496

    accuracy                           0.73    125043
   macro avg       0.86      0.49      0.52    125043
weighted avg       0.79      0.73      0.68    125043

In [18]:
# sadness (0), joy(1), love(2), anger(3), fear(4) and surprise (5)

In [24]:
msg = vectorizer.transform(['Wow, amazing'])
svc.predict(msg)

array([5])